repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.6
  hooks:
    - id: ruff-check
      args: [ --fix ]
    - id: ruff-format
- repo: local
  hooks:
    - id: ty
      name: ty check
      entry: uv run ty check .
      pass_filenames: false
      language: python
    - id: clippy
      name: clippy check
      entry: cargo clippy --workspace --all-targets --all-features -- -D warnings
      pass_filenames: false
      language: rust