Source: debmagic
Section: devel
Maintainer: Debmagic Maintainers <debmagic@sft.lol>
Uploaders:
 Jonas Jelten <jj@sft.lol>,
Build-Depends:
 debhelper-compat (= 13),
 dh-python,
 python3-all,
 pybuild-plugin-pyproject,
 python3-setuptools,
 python3-debian,
 cargo,
 python3-maturin,
 librust-clap-dev (>=4.5.23),
 librust-anyhow-dev (>=1.0.95),
 librust-config-dev (>=0.15.9),
 librust-dirs-dev (>=5.0.0),
 librust-glob-dev (>=0.3.2),
 librust-libc-dev (>=0.2.169),
 librust-serde-dev (>=1.0.217),
 librust-serde-json-dev (>=1.0.139),
 librust-uuid-dev (>=1.10.0),
 librust-chrono-dev (>=0.4.42),
 librust-regex-dev (>=1.12.2),
 librust-test-case-dev (>=3.3.1),
 librust-pyo3-dev (>=0.27.2),
 librust-debian-changelog-dev (>=0.2.14)
Rules-Requires-Root: no
X-Style: black
Standards-Version: 4.7.2
X-Python-Version: >= 3.12
Homepage: https://github.com/SFTtech/debmagic
Vcs-Git: https://github.com/SFTtech/debmagic.git
Vcs-Browser: https://github.com/SFTtech/debmagic

Package: debmagic-pkg
Architecture: all
Depends:
 python3-debian,
 python3-pydantic,
 ${misc:Depends},
 ${python3:Depends}
Multi-Arch: foreign
Description: Debian build instructions written in Python.
 Explicit is better than implicit.

Package: debmagic
Architecture: any
Depends:
 ${misc:Depends},
 ${python3:Depends},
 ${shlibs:Depends},
Description: Debian package building made easy.
 Holistic cli for the whole debian package building workflow.
Built-Using: ${cargo:Built-Using}
XB-X-Cargo-Built-Using: ${cargo:X-Cargo-Built-Using}
Static-Built-Using: ${cargo:Static-Built-Using}
