Source: debmagic
Section: devel
Maintainer: Debmagic Maintainers <debmagic@sft.lol>
Uploaders:
 Jonas Jelten <jj@sft.lol>,
Build-Depends:
 debhelper-compat (= 13),
 dh-python,
 python3-all,
 pybuild-plugin-pyproject,
 python3-setuptools,
 python3-debian,
 python3-pydantic
Rules-Requires-Root: no
X-Style: black
Standards-Version: 4.7.2
X-Python-Version: >= 3.12
Homepage: https://github.com/SFTtech/debmagic
Vcs-Git: https://github.com/SFTtech/debmagic.git
Vcs-Browser: https://github.com/SFTtech/debmagic

Package: python3-debmagic-common
Architecture: all
Depends:
 python3-debian,
 ${misc:Depends},
 ${python3:Depends}
Multi-Arch: foreign
Description: Debian build instructions written in Python.
 Explicit is better than implicit.

Package: debmagic-pkg
Architecture: all
Depends:
 python3-debmagic-common,
 python3-pydantic,
 ${misc:Depends},
 ${python3:Depends}
Multi-Arch: foreign
Description: Debian build instructions written in Python.
 Explicit is better than implicit.

Package: debmagic
Architecture: all
Depends:
 python3-debmagic-common,
 python3-pydantic,
 ${misc:Depends},
 ${python3:Depends}
Multi-Arch: foreign
Description: Debian build instructions written in Python.
 Explicit is better than implicit.
